@model PupilViewModel

<form asp-action="@Model.ActionName" asp-controller="Pupil" method="post" role="form">
    <div class="genericPageTitleText">
        @Localizer[@Model.Title]
    </div>
    
    @Html.HiddenFor(model => model.Pupil.Id)
    @Html.HiddenFor(model => model.Title)
    @Html.HiddenFor(model => model.ButtonText)
    @Html.HiddenFor(model => model.ActionName)


    <div class="col-6">
        <div class="mt-5 row">
            <partial name="_AddAndEdit" for="@Model.Pupil" view-data="ViewData"/>
        </div>
        
        <div class="mt-5 d-flex">
            <div class="form-group inputStyle d-inline-block">
                <input asp-for="@Model.Pupil.StartingDate" type="date" required="" readonly="@(ViewData["IsReadonly"]!)"
                       oninvalid="this.setCustomValidity('@Localizer["Please enter a value for this field!"]')"
                       oninput="setCustomValidity('')"/>
                <label>@Localizer["StartingYear"]</label>
            </div>
            <div class="form-group inputStyle d-inline-block">
                <input asp-for="@Model.Pupil.EndingDate" type="date" readonly="@(ViewData["IsReadonly"]!)"/>
                <label>@Localizer["EndingYear"]</label>
            </div>
        </div>
        
        <div class="dropdown mt-3 col-5 @Model.IsVisible">
            <label>@Localizer["Gender"]</label>
            @Html.DropDownListFor(m => m.SelectedGender, Model.GenderList, @Localizer["SelectGender"],
            new { @class = "form-select mt-2" })
            <span asp-validation-for="SelectedGender" class="text-danger"></span>
        </div>

        <div class="col-8 mt-3 informative-text @Model.IsVisible">
            <i class="fa-solid fa-circle-info"></i> @Localizer["The password is randomly generated!"]
        </div>

        <div class="mt-3 buttons @Model.IsVisible">
            <button class="btn" type="submit">@Localizer[@Model.ButtonText]</button>
        </div>
        
        @if (!@Model.IsVisible.IsNullOrEmpty())
        {
            <div class="mt-3 informative-text">
                @Localizer["Gender"]: @Model.Pupil.Gender
            </div>
        }
    </div>

</form>