@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = @Localizer["Resend email confirmation"];
    ViewData["Name"] = @Localizer["Resend email confirmation"];
}

<div class="genericPageTitleText">
    <h1 class="d-flex justify-content-center">@ViewData["Title"]</h1>
    <h2 class="d-flex justify-content-center">@Localizer["Enter your email"].</h2>
</div>

<hr />
<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group mt-5 inputStyle">
                <input asp-for="Input.Email" type="text" required="" aria-required="true" />
                <label>@Localizer["Email"]</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="buttons mt-3 d-flex justify-content-center">
                <button type="submit" class="btn">@Localizer["Resend"]</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
