@page
@model ResetPasswordModel
@{
    ViewData["Title"] = @Localizer["Reset password"];
    ViewData["Name"] = @Localizer["Reset password"];
}

<div class="genericPageTitleText">
    <h1>@ViewData["Title"]</h1>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-group mt-5 inputStyle">
                <input asp-for="Input.Email" type="text" required="" aria-required="true" />
                <label>@Localizer["Email"]</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group mt-4 inputStyle">
                <input asp-for="Input.Password" required="" aria-required="true" />
                <label>@Localizer["Password"]</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-4 inputStyle">
                <input asp-for="Input.ConfirmPassword" required="" aria-required="true" />
                <label>@Localizer["ConfirmPassword"]</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            
            <div class="buttons">
                <button type="submit" class="w-100 btn btn-lg btn-primary">@Localizer["Reset"]</button>
            </div>
            
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
