@model DeleteUserViewModel

<form asp-action="Delete" asp-controller="@Model.ActionControllerName" method="post" role="form">
    
    @Html.HiddenFor(model => model.User.Id)
    
    <div class="genericPageTitleText">
        @Localizer["DeleteUser"]: @Model.User.FirstName @Model.User.LastName
    </div>

    <div class="mt-5 buttons">
        <button class="btn">@Localizer["Confirm"]</button>
    </div>
</form>