@model IEnumerable<ApplicationRole>

<a class="btn btn-secondary" asp-area="" asp-controller="Role" asp-action="AddAndEdit">@Localizer["AddRole"]</a>

<div class="container mt-2">
	<div class="row">
		<div class="col">
			<h3>@Localizer["Title"]</h3>
		</div>
		<div class="col">
			<h3>@Localizer["Actions"]</h3>
		</div>
	</div>


	@foreach (var role in Model)
	{
		<div class="row mt-2">
			<div class="col">
				@role.Name
			</div>

			<div class="col">
				<a class="btn btn-outline-primary" asp-action="AddAndEdit"
			   asp-route-id="@role.Id"><i class="bi bi-pencil-square"></i>@Localizer["Edit"]</a>

				<a class="btn btn-danger text-white" asp-action="Delete"
			   asp-route-id="@role.Id"><i class="bi bi-trash"></i>@Localizer["Delete"]</a>

			</div>
		</div>


	}
</div>