@model TeacherAssignmentViewModel

@{
    ViewData["RoleDropdownMsg"] = @Localizer["Current role:"] + @Model.TeacherAssignment.ApplicationRole.Name;
    ViewData["SubjectDropdownMsg"] = @Localizer["Current subject:"] + @Model.TeacherAssignment.Subject.Name;
}

<form asp-action="Edit" asp-controller="TeacherAssignment" method="post" role="form">

    <h3 class="my-5 genericPageTitleText">
        @Localizer["EditAssignment"]
    </h3>
    
    @Html.HiddenFor(model => model.TeacherAssignment.ApplicationRole.Id)
    @Html.HiddenFor(model => model.TeacherAssignment.ApplicationRole.Name)
    @Html.HiddenFor(model => model.TeacherAssignment.Subject.SubjectId)
    @Html.HiddenFor(model => model.TeacherAssignment.Teacher.Id)
    @Html.HiddenFor(model => model.TeacherAssignment.Classroom.ClassId)
    @Html.HiddenFor(model => model.TeacherAssignment.TeacherAssignmentId)


    <div class="col-6">
        <div class="row g-2">

            <div class="col-5 inputStyle">
                <input asp-for="@Model.TeachersFullName" type="text" readonly="" />
                <label>@Localizer["Teacher's full name"]</label>
            </div>

            <div class="col-5 inputStyle">
                <input asp-for="@Model.ClassroomName" type="text" readonly="" />
                <label>@Localizer["Classroom"]</label>
            </div>

            <partial name="_AssignmentAddEdit" for="@Model" view-data="ViewData"/>
        </div>

        <div class="mt-3">
            <div class="col-md-5 buttons">
                <button class="btn" type="submit"><i class="fa-solid fa-floppy-disk"></i> @Localizer["SaveChanges"]</button>
            </div>
        </div>
    </div>
</form>

